.btn-primary {
  position: relative;
  display: inline-block;
  padding: 0.3rem 1.6rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.8rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.7rem;
  background: var(--color-primary-gradient);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease, border-color 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-primary-outline {
  position: relative;
  display: inline-block;
  padding: 0.3rem 1.6rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.8rem;
  color: #8b5cf6 !important;
  font-weight: 500;
  font-size: 1.7rem;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease, border-color 0.3s ease;

  &:hover {
    transform: scale(1.05);
    background-color: #8b5cf6;
    color: #fff !important;
  }
}
