/* generic-table.component.scss */
.table-container {
  width: 100%;
  overflow-x: auto; // ✅ enables scrolling on mobile
}

.generic-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; // ✅ force full width on small screens

  th,
  td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
    white-space: nowrap; // ✅ prevent text wrap
  }

  thead {
    background: var(--color-card);
  }

  tbody tr:hover {
    background: linear-gradient(135deg, #a386e8, #ec4899);
    cursor: pointer;
    color: #fff;
    transform: scaleY(1.1);
  }
  tbody {
    transition: all 0.5s ease;
  }
  tbody td {
    align-items: center;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}
