.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Equalizer bars */
.music-loader {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 6px;
  height: 50px;
}

.music-loader span {
  display: block;
  width: 8px;
  height: 100%;
  background: var(--color-primary-gradient);
  border-radius: 3px;
  animation: bounce 1s infinite ease-in-out;
}

.music-loader span:nth-child(1) {
  animation-delay: 0s;
}
.music-loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.music-loader span:nth-child(3) {
  animation-delay: 0.4s;
}
.music-loader span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  40%,
  100% {
    transform: scaleY(0.3);
  }
  20% {
    transform: scaleY(1);
  }
}
