<header class="header">
  <!-- Menu Button on mobile screens -->
  <button class="menu-icon" (click)="menuClicked.emit()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="white"
      stroke-width="1.5"
      width="24"
      height="24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
      />
    </svg>
  </button>

  <div class="header__search">
    <div class="search-input-wrapper">
      <input
        type="text"
        placeholder="Search for artists, songs, or podcast ...."
        (ngModel)="searchTerm()"
        (input)="onSearch()"
      />
      <span class="search-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          width="20"
          height="20"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1110.5 3a7.5 7.5 0 016.15 13.65z"
          />
        </svg>
      </span>
    </div>

    <!-- Results Card -->
    @if (searchResults.length > 0) {
    <div class="search-results">
      @for (result of searchResults; track $index) {
      <div class="search-results__item">
        {{ result }}
      </div>
      }
    </div>
    }
  </div>
  <div class="header__actions">
    <button class="btn-primary">Login | Sign Up</button>
    <!-- light mode icon -->
    <span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill=""
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        width="25"
        height="25"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
        />
      </svg>
    </span>
    <!-- dark mode icon -->
    <span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        width="25"
        height="25"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
        />
      </svg>
    </span>
  </div>
</header>
