@if (coverData()) {
<div class="card">
  <img [src]="coverData().coverUrl?.()" alt="Card image" class="card-image" />
  <div class="card-icons">
    <i (click)="onAddToFavourites(coverData())" class="bx bx-heart"></i>
    <i (click)="onPlay(coverData())" class="bx bx-play"></i>
    <!-- Menu Component -->
    <i>
      <app-context-menu (menuAction)="onMenuAction($event, coverData())">
        <!-- Custom actions injected via ng-content -->
        <ng-content select="[customAction]"></ng-content>
      </app-context-menu>
    </i>
    @if (coverData().icons) { @for (icon of coverData().icons!(); track $index)
    {
    <i [class]="icon"></i>
    } }
  </div>
</div>
}
