<!-- Swiper container -->
<div class="swiper">
  <!-- Top bar with prev/next -->
  <div class="swiper-top-nav d-flex gap-4 justify-content-end">
    <i class="bx bx-chevron-left fs-1 custom-prev"></i>
    <i class="bx bx-chevron-right fs-1 custom-next"></i>
  </div>
  <div class="swiper-wrapper">
    @for (item of data(); track $index) {
    <div class="swiper-slide">
      <ng-container
        *ngTemplateOutlet="slideTemplate; context: { $implicit: item }"
      ></ng-container>
    </div>
    }
  </div>

  <!-- Optional pagination -->
  <div class="swiper-pagination"></div>
</div>
