::ng-deep {
  .context-menu {
    i {
      padding: 0.4rem;
      border-radius: 50%;
      transition: background 0.5s ease;
      &:hover {
        background: var(--color-primary-gradient);
        color: #fff;
      }
    }
  }
}
