@use "abstract" as *;
.artistheader {
  &__profile {
    @include flex-center;
    gap: 2rem;
    @media screen and (max-width: 746px) {
      flex-direction: column;
      align-items: start;
    }
    img {
      border-radius: 50%;
      @media screen and (max-width: 746px) {
        border-radius: 1rem;
        width: 100%;
      }
    }
  }
}
