@use "abstract" as *;

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  @include flex-center;
  flex-direction: column;
  &__item {
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
    &:hover {
      transform: scale(1.05);
      background-color: var(--color-card);
    }
    &--logo {
      width: 12rem;
      height: 12rem;
      cursor: pointer;
    }
    &--icon {
      svg {
        width: 3rem;
        height: 3rem;
        margin-bottom: $space-xs;
      }
    }
    a {
      @include flex-center;
      flex-direction: column;
      padding: $space-md $space-lg;
      color: var(--color-grey-light);
      text-decoration: none;
      font-size: 1.8rem;
      width: 100%;
      transition: background 0.3s ease;

      &:hover {
        background: var(--color-primary-gradient);
        color: #fff;
      }
    }
  }
}
